//- Story Primer mixins

//- Story Primer defaults to A4Portrait, not A5
mixin a4page-choice(englishLabel)
    .bloom-page.numberedPage.A4Portrait(attributes, data-page='extra')
        +page-label-english(englishLabel)
        .marginBox
            block

mixin adjustableImageRight
    - requireZeroArguments('adjustableImageRight', arguments)
    +image.imageAdjustable.floatRight.bloom-resizable
        block

//- generates a translationGroup with bubble text and optional classes on the internal div
mixin field-bubble-attributesOnChild(bubbleText)
    - requireOneArgument('field-bubble-attributesOnChild', arguments)
    .bloom-translationGroup
        label.bubble.bloom-showOnlyWhenTargetHasFocus=bubbleText
        +editable(kLanguageForPrototypeOnly)(attributes=attributes)

//- generates a translationGroup with any classes on the internal div
mixin field-attributesOnChild
    - requireZeroArguments('field-attributesOnChild', arguments)
    .bloom-translationGroup
        +editable(kLanguageForPrototypeOnly)(attributes=attributes)

//- generates a translationGroup with placeholder text and optional classes on the internal div
mixin field-placeholder-attributesOnChild(placeholderText)
    - requireOneArgument('field-bubble-attributesOnChild', arguments)
    .bloom-translationGroup
        label.placeholder=placeholderText
        +editable(kLanguageForPrototypeOnly)(attributes=attributes)

//- generates an image with 'placeHolder.png', standard 'missing' alt text and no copyright/license data
mixin image-bubble(bubbleText)
    - requireOneArgument('image-bubble', arguments)
    +image(attributes=attributes)
        label.bubble.bloom-showOnlyWhenTargetHasFocus=bubbleText
        block

//- generates an image with a specified default src image
mixin image-specific(src, altText)
    - requireTwoArguments('image-specific', arguments)
    .bloom-imageContainer
        img(attributes, alt=altText, src=src)
        block

//- generates an image with a specified default src image and bubble text
mixin image-specific-bubble(bubbleText, src, altText)
    .bloom-imageContainer
        label.bubble.bloom-showOnlyWhenTargetHasFocus=bubbleText
        img(attributes, alt=altText, src=src)

//- generates a fixed icon image (no bloom-imageContainer)
mixin fixedIcon(altText, src)
    - requireTwoArguments('fixedIcon', arguments)
    .bloom-imageContainer.icon(attributes)
        img(alt=altText, src=src)

//- generates a fixed icon image (no bloom-imageContainer), that floats to the right side
mixin fixedIcon-right(altText, src)
    - requireTwoArguments('fixedIcon-right', arguments)
    .bloom-imageContainer.icon-right(attributes)
        img(alt=altText, src=src)

//- generates a fixed icon image with bubble text in a bloom-imageContainer
mixin fixedIcon-bubble(bubbleText, altText, src)
    .bloom-imageContainer.icon
        label.bubble.bloom-showOnlyWhenTargetHasFocus=bubbleText
        img(alt=altText, src=src)

//- generates an alphabet chart matrix 3 wide with variable number of rows
//- this goes under the table element with a special class for this size chart
mixin alphabetChart(rows)
    - requireOneArgument('alphabetChart', arguments)
    +repeat(rows)
        tr
            +repeat(3)
                td
                    table.alphabet
                        tr
                            td
                                +field-placeholder-attributesOnChild('Qq')
                            td
                                +image.alphabet

//- Revision form; table with 6 cells
mixin form-6cells
    - requireZeroArguments('form-6cells', arguments)
    table.wordGrid.padded
        tr
            td.top.left.right
                +field
            td.blank
            td.top.left.right
                +field
            td.blank
            td.top.left.right
                +field
        tr
            td.bottom.left.right
                +field
            td.blank
            td.bottom.left.right
                +field
            td.blank
            td.bottom.left.right
                +field

//- Generates a 6 x 3 table for words broken into syllables
mixin syllableTable
    - requireZeroArguments('syllableTable', arguments)
    table.wordGrid
        +repeat(3)
            tr
                +repeat(2)
                    td
                        +field.word
                            label.placeholder syl la bles
                    td.blank
                td
                    +field.word
                        label.placeholder syl la bles
            tr
                +repeat(2)
                    td.bottom
                        +field.word
                            label.placeholder word
                    td.blank
                td.bottom
                    +field.word
                        label.placeholder word